:root {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--background-dark);
  background-color: var(--background-light);
  --primary-color: #00BE62;
  --secondary-color: #00E074;
  --accent-color: #FFDE59;
  --background-dark: #0A0A0A;
  --background-light: #FFFFFF;
}

a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.3s;
}
a:hover {
  color: var(--secondary-color);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background-light);
  color: var(--background-dark);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--accent-color);
}

button {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 600;
  font-family: inherit;
  background-color: var(--primary-color);
  color: var(--background-light);
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

button:hover {
  background-color: var(--secondary-color);
}

button:active {
  background-color: var(--accent-color);
  border-color: var(--primary-color);
}

button:disabled {
  background-color: grey;
  cursor: not-allowed;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--background-dark);
    background-color: var(--background-light);
  }
  a {
    color: var(--primary-color);
  }
  a:hover {
    color: var(--secondary-color);
  }
  button {
    background-color: var(--primary-color);
    color: var(--background-light);
  }
}
